@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}


body{
  background: #F5F5F5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}


.container{
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.btn{
  background: rgb(87, 87, 255);
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.btn img{
  width: 20px;
  margin-left: 10px;
}

.btn1{
background: rgb(218, 185, 39);
color: #fff;
margin-top: 6px;
padding: 14px 25px;
font-size: 16px;
border-radius: 30px;
cursor: pointer;
border: 0;
outline: 0;
display: inline-flex;
align-items: center;
justify-content: center;
}

.btn1 img{
  width: 20px;
  margin-left: 10px;
}

